*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* TYPOGRAPHY */
  --ff-poppins: "Poppins", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-roboto: "Roboto", sans-serif;

  --title: 2.25rem;
  --text-sm: .75rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;

  /* COLORS */
  --bg-button: #747474;
  --color-title: #111827;
  --color-text-field: #6B7280;
  --color-border: #CACACA;
}

body {
  background-color: #0b0f18;
  background-size: cover;

  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}